* {
    font-family: 'Montserrat', sans-serif;
}
body {
    margin: 0;
}
#appContainer {
    display: flex;
    min-height: 100vh;
    background-color: #F0F4F5;
    flex-direction: column;
    align-items: center;
}